@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background-color: #fff;
  --second-bg-color:#fff;
  --normal-color:hsl(235, 21%, 11%);
  --button-color:hsl(235, 19%, 35%);
  --border-color: hsl(234, 39%, 85%);
  --desktop-bg: url(images/bg-desktop-light.jpg);
  --mobile-bg:  url(images/bg-mobile-light.jpg);
  
}
.dark-mode{
  --background-color:hsl(235, 21%, 11%);
  --second-bg-color:hsl(235, 24%, 19%);
  --normal-color:hsl(234, 39%, 85%);
  --button-color:hsl(234, 11%, 52%);
  --border-color:  hsl(233, 14%, 35%);
  --desktop-bg: url(images/bg-desktop-dark.jpg);
  --mobile-bg:  url(images/bg-mobile-dark.jpg);

}
body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: var(--normal-color);
}
input[text]{
  font: inherit;
  outline: none;
  border: none;
}
input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  height: 0;
  width: 0;
  display: grid;
  place-content: center;
}

.checkbox__checkmark:before {
  
  border-radius: 50%;
  border: solid 1px var(--border-color);
  cursor: pointer;
}
:checked+.checkbox__checkmark:before{
  background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}
input[type="checkbox"]:checked ~ .checkmark{
  background-color: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}
button{
  font: inherit;
  background: none;
  cursor: pointer;
  color:hsl(235, 19%, 35%); ;
}
button:hover{
  color: hsl(235, 21%, 11%);
}

.blue{
  color:hsl(220, 98%, 61%);
}
li{
  list-style: none;
}

.top-grid{
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 0 5vw;
  background-color: var(--background-color);
}
.shiny-background{
  background: var(--desktop-bg);
  background-position: contain;
}
h1{
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 2.2rem;
}
.absolute{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.container-grid{
  width: var(--size-fluid-10);
}
.header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: var(--background-color);
}
.search-container input{
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background: var(--second-bg-color);
  border-radius: var(--radius-2);
  color: var(--normal-color);
}
.todo-lists{
  /* transform: translateY(20px); */
  padding: 10px;
  
  border-radius: var(--radius-2);
  background: var(--second-bg-color);
  box-shadow: var(--shadow-4);
 
}

.todo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: solid 1px  var(--border-color);
  position: relative;
}
.delete-img{
  height: 22px;
}
.canceled{
  text-decoration: line-through;
}
.todo-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.group-btn{
  display: flex;
  gap: 5px;
}
.second-group-btn{
  display: none;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: var(--radius-2);
  background: var(--second-bg-color);
}
.hint{
  display: grid;
  place-items: center;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 700px){
  .group-btn{
    display: none;
  }
  .second-group-btn{
    display: flex;
  }
}
@media only screen and (max-width: 400px){
  .top-grid{
    padding: 0;
  }
  .shiny-background{
    background: var(--mobile-bg);
  }
 
}